.back {
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-wrap: wrap;
  color: beige;
  align-items: left;
  justify-content: center;
}

.msg {
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 8vh;
  margin-top: 10vh;
}
